.W2GVidItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #111;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-right: 10px;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    }



    .W2GItemDetailsRows {   
        display: grid;
        grid-template-rows: repeat(3, auto);
        gap: 10px;
    }

    .W2GVidItemThumbnailDiv
    {
        display: block;
        width: 150px;
        height: 170px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 4px;


        .W2GVidDuration
        {
            position: relative;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 2px;
            border-radius: 5px;
            font-size: 8px;
            display: flex;
            align-items: center;
            color: white;
            font-size: 15px;
            width: fit-content;
            top: 80%;
            left: 2px;

            .W2GClock{
                margin-right: 4px;
            }
        }
    }

    .W2GVidItemTitle {
        font-size: 16px;
        font-weight: bold;
        color: lime;
        margin-bottom: 1px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .W2GVidItemDescription{
        font-size: 12px;
        color: #ccc;
        margin-bottom: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .W2GVidItemUser{
        display: flex;
        align-items: center;

        .W2GVidItemAvatar{
            width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 8px;
        }


        .W2GVidUsername{
                font-size: 14px;
                color: lime;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
        }
    }
}

@media (max-width: 1255px) {
    .W2GVidItem {
        width: 100%;
    }
  }


