.CommTextarea {
    width: 40vw;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: black;
    border-radius:30px;
    border: 1px solid lime;
    height: 46px;
    margin-top: 8px;
}

.SubmitCommMain{
    text-align: center;
    background-color: #B200FF;
    width: fit-content;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;

}

.comment-table{
    width: 100%;
    margin: auto;
}

.BtnAddComm{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    background-color: black;
    box-shadow: 0 0 10px #B200FF;
    transition: transform 0.2s, box-shadow 0.2s;
    height: 50px;
}

.BtnAddComm:hover{
transform: scale(1.05);
background-color: lime;
box-shadow: 0 0 10px lime;
color: black;
}


.SubmitCommCol1
{
  display: flex;
  justify-content: center;
  align-items: center;

  .CommentWriterAvt{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 3px solid rgba(0, 0, 0, 0.3);
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
}
}

.SubmitCommCol2{
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.SubmitCommCol3{
    display: flex;
    justify-items: center;
}

@media (max-width:400px)
{
    .CommTextarea {
        width: 100%;
    }
}






