.container {
  padding: 20px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.editBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B200FF;
  border-radius: 30px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: fit-content;
  min-width: 100px;
}

.editBtn:hover{
  background-color: #6c0a96;
}

.video-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.likes {
  display: flex;
  align-items: center;
  margin: 2px;
  background-color: rgba(122, 122, 122, 0.5);
  padding: 4px;
  border-radius: 10px;
}

.lil-sub-btn {
  background-color: lime;
  color: black;
  border-radius: 30px;
  padding: 7px;
  display: flex;
  align-items: center;
}

.lil-sub-btn:hover {
  background-color: green;
  color: white;
}

.eye-icon {
  margin-right: 3px;
}

#like-button {
  border-radius: 15px 0px 0px 15px;
}

#dislike-button {
  border-radius: 0px 15px 15px 0px;
}

#like-button:hover, .liked-button {
  color: rgb(26, 165, 26);
}

#dislike-button:hover, .disliked-button {
  color: red;
}

.symbol {
  margin-right: 3px;
}

.video-title {
  font-size: 24px;
  font-weight: bold;
}

.video-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.username {
  font-size: 18px;
  font-weight: bold;
}

.video-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-views,
.video-likes {
  margin-top: 10px;
  font-size: 16px;
  display: flex;
}

.video-views {
  display: flex;
  align-items: center;
}

.btnBottomPanelActive{
  background-color: #B200FF;
  color: white;
  padding: 4px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 30px;
  box-shadow: 0 0 10px #B200FF;
  padding-left: 10px;
  padding-right: 10px;
}

.btnSwitchBottomPanel{
  background-color: lime;
  color: black;
  padding: 4px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.divBottomPanelSwitch{
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subCountLabel{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lime;
  color: black;
  border-radius: 30px;
  padding: 7px;
  display: flex;
  align-items: center;
}