.uploadBtn{
    background-color: black;
    color: lime;
    border: 1px solid #B200FF;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 30%;
    min-width: 250px;
    margin: auto;
}

.uploadBtn:hover{
    background-color: lime;
    color: black;
    border: 2px solid white;
    transform: scale(1.07);
}

.upload-icn{
    margin-right: 7px;
}

.uploadLabel{
    text-align: center;
}

.uplTitle{
    color: lime;
    font-size: 30px;
}

.inputTitle{
    background-color: lime;
    border: 1px solid white;
    border-radius: 35px;
    width: 65%;
    min-width: 300px;
    display: block;
    margin: auto;
}

.inputDescription{
    color: white;
    margin: auto;
    display: block;
    width: 65%;
    min-width: 425px;
    border-radius: 10px;
    background-color: #B200FF;
}


.sendVid{
    display: block;
    margin: auto;
}