.btnUserAccPanelActive{
    background-color: #B200FF;
    color: white;
    padding: 4px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 30px;
    box-shadow: 0 0 10px #B200FF;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .btnUserAccBottomPanel{
    background-color: lime;
    color: black;
    padding: 4px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .divUserAccPanelSwitch{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }