
.video-item{
  background-color: black;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 0 2px gray;
}

.dark .video-item {
  background-color: white;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.item-outer{
  transition: transform 0.2s, box-shadow 0.2s;
}

.item-outer:hover{
  transform: scale(1.05);
}

.video-length{
  position: absolute;
  bottom: 90px;
  right: 9px;
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 12px;
}


.views{
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-animacio {
  padding: 5px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.border-animacio:hover::after, .border-animacio:hover::before {
  content: '';
  position: absolute;
  height: 200%;
  width: 200%;
  background-image: conic-gradient(from var(--angle), lime, #B200FF);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 10px;
  animation: 3s spin linear infinite;
  display: block;
}

.border-animacio:hover::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.border-animacio::after, .border-animacio::before {
  content: '';
  position: absolute;
  height: 200%;
  width: 200%;
  background-image: conic-gradient(from var(--angle), transparent, lime);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 10px;
  animation: 3s spin linear infinite;
  z-index: -3;
  display: none;
}

.border-animacio::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}


.video-card {
  margin: 20px;
}

.video-info {
  display: flex;
}
.video-avatar {
  margin-right: 10px;
}
.video-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.video-details {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-title, .video-title:visited {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: lime;
}
.video-channel, .video-channel:visited {
  font-size: 14px;
  color: lime;
  text-decoration: none;
}
.video-views, .video-views:visited {
  font-size: 14px;
  color: lime;
  text-decoration: none;
}

.uploader-avt{
  padding-right: 10px;
}

.uploader-name{
  margin-top: 0px;
}

.vid-info-table{
  text-align: center;
}

.thumbnail-div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  border-radius: 10px 10px 0px 0px;
}

.video-duration {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px;
  font-size: 15px;
  border-radius: 5px; 
  position: absolute;
  bottom: 5px;
  right: 5px;
}


