.loginForm{
    background-color: lime;
    padding: 10px;
    border-radius: 10px;
    height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loginMainDiv{
    margin-top: 100px;
}
