.container {
    padding: 20px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .video-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .likes{
    display: flex;
    align-items:center;
    margin: 2px;
    background-color: rgba(122,122,122,0.5);
    padding: 4px;
    border-radius: 10px;
  }

  .eye-icon{
    color:white;
    margin-right: 3px;
  }

  #like-button{
    border-radius: 15px 0px 0px 15px;
  }

  #dislike-button{
    border-radius: 0px 15px 15px 0px;
  }

  #like-button :hover, .liked-button{
    color: rgb(26, 165, 26);

  }

  #dislike-button :hover, .disliked-button{
    color:red;
  }

  .symbol{
    margin-right: 3px;
  }
  
  .video-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .video-user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .username {
    font-size: 18px;
    font-weight: bold;
  }
  
  .video-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .video-views,
  .video-likes {
    margin-top: 10px;
    font-size: 16px;
    display: flex;
  }

  .video-views{
    
    display: flex;
    align-items: center;
  }

  