.tb-comm {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: black;
    border-radius:30px;
    border: 1px solid lime;
    height: 46px;
    margin-top: 8px;
}

.comm-tb-cont{
    text-align: center;
    background-color: #B200FF;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: auto;
}

.comment-table{
    width: 80%;
    margin: auto;
}

.btn-send{
    border: 1px solid lime;
    font-size: 150%;
    float: left;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
}

.dark .btn-send{
    background-color: white;
}

.btn-td{
    text-align: left;
}

.td-comm-tb{
width: 80%;
}





