
/*a videó kártyájának háttere*/
.video-item{
  background-color: black;
  border-radius: 10px;
  border: 1px solid lime;
}

.dark .video-item {
  background-color: white;
  border-radius: 10px;
  border: 1px solid lime;
}


/*a videó hosszát megjelenítő div*/
.video-length{
  // color: white;
  // background-color: rgba($color: #000000, $alpha: 1.0);
  // padding: 1px;
  // font-size: 15px;
  // border-bottom-left-radius: 10px;
  // border-bottom-right-radius: 10px;
  // text-align: right;
  // padding-right: 5px;
  // border-left: 1px solid lime;
  // border-right: 1px solid lime;
  // border-bottom: 1px solid lime;
  position: absolute;
  bottom: 90px;
  right: 9px;
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 12px;
}


.views{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*border animációk*/

/*a meganimált div*/
.border-animacio {
  padding: 5px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}



/*az animációnál ez a változó változik folyamatosan*/
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/*az animáció ha rávisszük az egeret*/
.border-animacio:hover::after, .border-animacio:hover::before {
  content: '';
  position: absolute;
  height: 150%;
  width: 150%;
  background-image: conic-gradient(from var(--angle), lime, #B200FF);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}

.border-animacio:hover::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

/*a változó változtatása*/
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/*az alap animáció*/
.border-animacio::after, .border-animacio::before {
  content: '';
  position: absolute;
  height: 150%;
  width: 150%;
  background-image: conic-gradient(from var(--angle), transparent, lime);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 10px;
  animation: 3s spin linear infinite;
  z-index: -3;
}

.border-animacio::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}


.video-card {
  margin: 20px;
}
.video-thumbnail {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  background-color: #000;
}
.video-thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-info {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 3px;
}
.video-avatar {
  margin-right: 10px;
}
.video-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.video-details {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-title, .video-title:visited {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: lime;
}
.video-channel, .video-channel:visited {
  font-size: 14px;
  color: lime;
  text-decoration: none;
}
.video-views, .video-views:visited {
  font-size: 14px;
  color: lime;
  text-decoration: none;
}

.uploader-avt{
  padding-right: 10px;
}

.uploader-name{
  margin-top: 0px;
}

.vid-info-table{
  text-align: center;
}

.thumbnail-div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  border-radius: 10px 10px 0px 0px;
}

.video-duration {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px;
  font-size: 15px;
  border-radius: 5px; 
  position: absolute;
  bottom: 5px;
  right: 5px;
}


