@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

body {
  color: white;
  background-color: black;
}

.dark body {
  color: black;
  background-color: white;
}

